@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --black: #111;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.showcase {
  padding: 100px;
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
  background: #111;
}

.showcase.active {
  right: 300px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

header .logo:hover {
  transform: scale(1.1);
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url('assets/menu-outline.svg');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  cursor: pointer;
  filter: invert(1);
  transition: 0.3s;
}

.toggle:hover {
  transform: scale(1.1);
}

.toggle.active {
  background-image: url('assets/close-outline.svg');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  cursor: pointer;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  mix-blend-mode: overlay;
  opacity: 0.3;
} */

.text {
  z-index: 3;
  position: relative;
}

.text h2 {
  text-transform: uppercase;
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
}

.text h3 {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
}

.text p {
  margin: 20px 0;
  max-width: 700px;
  font-size: 1em;
  font-weight: 400;
}

.text a {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
  font-weight: 500;
  margin-top: 20px;
}

.text a:hover {
  letter-spacing: 5px;
}

.social-container {
    width: 100%;
    height: auto;
    align-self: flex-end;
}

.social {
  position: absolute;
  bottom: 10px;
  /* left: 20px; */
  display: flex;
  justify-content: center;
  align-items: center; 
}

.social a {
  display: inline-block;
  z-index: 3;
  filter: invert(1);
  margin-right: 10px;
  transition: 0.5s;
  transform: scale(0.5);
  opacity: 0.7;
}

.social a:hover {
  opacity: 1;
  transform: scale(0.5) translateY(-15px);
}
.social li {
  list-style: none;
}

.social img {
  width: 40px;
  height: 40px;
}

.menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.menu.active {
 display: flex;
}

.menu ul {
  list-style: none;
}

.menu ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.7em;
  color: var(--black);
  transition: 0.3s;
}

.menu ul li a:hover {
  color: #899ab1;
  transform: translateX(-15px);
}

@media (max-width: 798px) {

  .showcase header {
    padding: 20px 40px;
  }

  .showcase {
    padding: 40px;
  }

  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}

@media (max-width: 500px) {
  .showcase header {
    padding: 20px 20px;
  }

  .menu {
    width: 200px;
  }

  .showcase {
    padding: 20px;
  }

  .showcase.active {
    right: 200px;
  }

  .toggle {
    height: 40px;
    width: 40px;
  }

  .social {
    right: 20px;
  }
}